// Colours
$sage: #C8C8A9;
$violet: #B475AB;
$deep-red: #FF4E50;
$rose: #FE4365;
$pink: #FC9D9A;
$peach: #F9CDAD;
$sun-yellow: #F9D423;
$sour-lemon: #EDE574;
$navy: #014463;
$teal: #1E8C93;
$mint: #A7DBAB;
$stormy-sea: #83AF9B;

$white: #FFFFFF;
$gray-100: #F7F8F7;
$gray-200: #D9D9D9;
$gray-300: #D3D3D3;
$gray-400: #EFEFEF;
$gray-500: #B9B9B9;
$gray-600: #A2A2A2;
$gray-700: #7E7E7E;
$gray-800: #505050;
$black: #343434;

// Other Variables
$body-bg: $gray-100;
$body-color: $gray-700;
$spacer: 1rem;
$yiq-contrasted-threshold: 215;

$border-radius: 1rem;
$border-radius-lg: 1.5rem;

$custom-checkbox-indicator-border-radius: .25rem;

$primary: $teal;
$secondary: $peach;
$info: $stormy-sea;
$success: $sun-yellow;
$warning: $deep-red;
$danger: $pink;

$theme-colors: (
  "brand": $rose,
  "helpful": $mint
);

$alert-bg-level: 1;
$alert-border-level: 3;
$alert-color-level: -10;

$font-family-sans-serif: "Roboto", "Helvetica Neue", Arial, sans-serif;

$input-focus-box-shadow: none;
$input-color: $gray-500;
$input-placeholder-color: $gray-300;

$spacers: (
  6: ($spacer * 4),
  7: ($spacer * 5),
  8: ($spacer * 6)
);

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 720px,
  lg: 980px,
  xl: 1200px,
  xxl: 1720px
);

$container-max-widths: (
  sm: 456px,
  md: 696px,
  lg: 956px,
  xl: 1176px,
  xxl: 1696px
);
