.header {
  align-items: stretch;
  background-color: $white;
  border-bottom: 1px solid $gray-300;
  display: flex;
  height: 3.125rem;
  justify-content: center;
  padding: .375rem;

  &-logo {
    height: 100%;
  }
}
