<tr>
  <td class="email-main-logo">
    <%= image_tag "mailer/account-header.png" %>
  </td>
</tr>
<tr>
  <td class="email-main-heading">
    <h1><%= t ".changed" %></h1>
  </td>
</tr>
<tr>
  <td class="email-main-content">
    <p>
      <%= t ".greeting", name: @user.first_name %>
      <br>
      <%= t ".success" %>
    </p>
  </td>
</tr>
